@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the National Parks Client App!</h1>
    <p>Get to know a few of <a href="/parks">our parks</a> found in America!</p>
</div>
